@use '../../scss/' as *;

.movie-list{
    .swiper-slide{
        height: unset;
        width: 15%;

        @include tablet{
            width: 30%;
        }

        @include mobile{
            width: 40%;
        }
    }
}