@use "../../scss/" as *;


.banner {
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include overlay()
    }

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, $color-bg, rgba(0,0,0,0));
    }

}


.movie-content {
    @include flex(flex-start, flex-start);
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    position: relative;
    padding: 0 4rem;

    &__poster{
        flex: 1;

        @include mobile{
            display: none;
        }

        &__img{
            border-radius: $border-radius;
            object-fit: cover;
        }
    }

    &__info{
        width: 70%;
        padding: 0 2rem;
        color: $color-txt;
        @include mobile{
            width: 100%;
        }

        .title{
            font-size: 4rem;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 2rem;
        }

        .genres{
            span{
                padding: 10px 18px;
                border: 2px solid $color-txt;
                border-radius: $border-radius;
                margin-right: 10px;
                font-size: .8rem;
                font-weight: 500;
            }
        }

        .rating{
            font-size: 1.4rem;
            i{
                color: #f5c518;
                margin-right: 10px;
            }
        }

        .overview{
            font-size: 1.2rem;
        }


        & > * ~ *{
            margin-bottom: 2rem;
        }
    }
}

.cast{
    .cast-header{
        margin-bottom: 1rem;
        h2{
            font-size: 1.4rem;
            font-weight: 600;
        }
    }

    .casts{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
        gap: 10px;
        &__item{
            &__img{
                padding-top: 160px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            h3{
                font-size: 1.2rem;
                margin: 8px 0;
                font-weight: 400;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
    }
}

.video {
    margin-bottom: 3rem;
    &__title{
        color: $color-txt;
        margin-bottom: 2rem;
    }
}